/* Variables and default styling */
:root {
    --black: #000B37;
    --black70: rgba(3, 0, 35, 0.7);
    --black90: rgba(3, 0, 35, 0.9);
    --darkgray: #000F4B;
    --lightgray: #E1E1E1;
    --lightergray: #E8E6E6;
    --white: #fff;
    --primary: #002CDA;
    --secondaryOrange: #F56A55;
    --secondaryGreen: #01B29E;
    --secondaryBlue: #2247A5;
    --secondaryPink: #EC3C83;
}

.hero {
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba(3, 0, 35, 0.7), rgba(3, 0, 35, 0.7)), url('../assets/images/join.jpg');
}

.join {
    width: 100%;
    padding: 6rem 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.join h6 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--black);
}

.join a {
    color: var(--primary);
    font-size: 2rem;
    font-weight: 700;
}